{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'product_details.css' %}" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Document</title>
</head>


<body>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">About</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Shop</a></li>
            <li class="ml-auto">
                <a href="#">Cart</a>
            </li>
        </ol>
    </nav>

    <main>
        <img src="{% static 'images/image.png' %}" alt="商品画像">
        <div class="product_info">
            <h2>商品名</h2>
            <P>価格: ¥1000</P>
            <p>商品説明文が入りま。商品説明文が入ります。商品説明文が入ります。商品説明文が入ります。商品説明文が入ります。商品説明文が入ります。商品説明文が入ります。商品説明文が入ります
                商品説明文が入りま。商品説明文が入ります。商品説明文が入ります。商品説明文が入ります。商品説明文が入ります。商品説明文が入ります。商品説明文が入ります。商品説明文が入ります
            </p>
        </div>
    </main>

    <div class="Related_products">
        <h3>関連商品</h3>
        <div class="Related_product_items">
            <div class="Related_product_item">
                <img src="{% static 'images/image.png' %}" alt="商品画像">
                <p>商品名</p>
                <p>価格: ¥1000</p>
            </div>
            <div class="Related_product_item">
                <img src="{% static 'images/image.png' %} " alt="商品画像">
                <p>商品名</p>
                <p>価格: ¥1000</p>
            </div>
            <div class="Related_product_item">
                <img src="{% static 'images/image.png' %}" alt="商品画像">
                <p>商品名</p>
                <p>価格: ¥1000</p>
            </div>
            <div class="Related_product_item">
                <img src="{% static 'images/image.png' %}" alt="商品画像">
                <p>商品名</p>
                <p>価格: ¥1000</p>
            </div>
        </div>
    </div>
</body>

</html>