{% extends 'base.html' %}

{% load static %}

{% block link %}
<link href="{% static 'carts.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


        <header>
            <div class="jumbotron text-center">
                <h1 class="display-4">Ckeckout form</h1>
                <p class="lead">こちらで購入詳細を確認します</p>
            </div>
        </header>

        <body>

            <div class = "contents">

                <div class="main_contents">
                
                    <div class="Billing_address">
                        <h4>
                            Billing address
                        </h4>
                        <div class="name">
                            <div>
                                <label for="inputPassword5" class="form-label">First name</label>
                                <input type="text" id="inputPassword5" class="form-control short" aria-labelledby="passwordHelpBlock">
                            </div>
                
                            <div>
                                <label for="inputPassword5" class="form-label">Last_name</label>
                                <input type="text" id="inputPassword5" class="form-control short" aria-labelledby="passwordHelpBlock">
                            </div>
                
                
                        </div>
                
                        <label for="inputPassword5" class="form-label">Username</label>
                        <input type="text" id="inputPassword5" class="form-control non_name" aria-labelledby="passwordHelpBlock">
                
                        <label for="inputPassword5" class="form-label">Email</label>
                        <input type="text" id="inputPassword5" class="form-control non_name" aria-labelledby="passwordHelpBlock">
                
                        <label for="inputPassword5" class="form-label">Address</label>
                        <input type="text" id="inputPassword5" class="form-control non_name" aria-labelledby="passwordHelpBlock">
                
                        <label for="inputPassword5" class="form-label">Address2 (option)</label>
                        <input type="text" id="inputPassword5" class="form-control non_name" aria-labelledby="passwordHelpBlock">
                
                        <div class="country_info">
                            <div>
                                <label for="inputPassword5" class="form-label">Country</label>
                                <input type="text" id="inputPassword5" class="form-control short" aria-labelledby="passwordHelpBlock">
                
                            </div>
                
                            <div>
                                <label for="inputPassword5" class="form-label">State</label>
                                <input type="text" id="inputPassword5" class="form-control short" aria-labelledby="passwordHelpBlock">
                
                            </div>
                
                            <div>
                                <label for="inputPassword5" class="form-label">Zip</label>
                                <input type="text" id="inputPassword5" class="form-control short" aria-labelledby="passwordHelpBlock">
                
                
                            </div>
                        </div>
                
                
                    </div>
                </div>

                
                <div class="your_cart">
                    <h4>
                        items
                        {{ total_number }}個
                    </h4>

                    {% for cart in carts %}
                    <div class = "buy_items">
                        
                        <div class="product_contents">
                        
                            <div class="product_name_and_price">
                                <div>
                                    {{ cart.product.name }}
                                </div>
                                <div>
                                    {{ cart.product.price|floatformat:0 }}円
                                </div>
                            </div>
                            <div class="product_number">
                                {{ cart.number }}個
                            </div>
                            
                        </div>

                        <form action="{% url 'cart_delete' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="delete" value="{{ cart.id }}">
                            <button type="submit" >×</button>
                        </form>
                        
                    </div>
                   
                    {% endfor %}

                    <div>
                        <h5 class="total_price">
                            合計金額: {{ total_price|floatformat:0 }}円

                        </h5>
                        
                    </div>
            
                </div>
                
            </div>

        </body>

{% endblock %}